
.content{
    padding-left: 5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1%;
}
.icon{
    width: 60px;
    height: 60px;
}
.card{
    margin: 2%;
    margin-left: 0%;
    margin-right: 3%;
    width: 550px;
    height: 400px;
}
.top-card{    
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 100%;
    height: 50%;
    top: -3%;
    left: -4%;
}
.logo{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 5px 4px 20px 0px grey;
}
.button{
    background-color: red;
    color: white;
    width: 60%;
    height: 15%;
}
.down-card{
    display: flex;
    position: absolute;
    width: 100%;
    flex-direction:column; 
    height: 50%;
    bottom: 0%;
    left: 0%;
}
.top-midle{
    position: relative;
    width: 50%;
}
.releases{
    background-color: aqua;
    display: flex;
    position: relative;
    flex-flow: column wrap;
}
a:hover {
    color: rgb(255, 0, 0);
  }
.comics{
    justify-content: flex-start;
    color: #949292;
    cursor: pointer;
}
.loading{
    margin-left: 35%;
    width: 33%;
    height: 290px;
}
.character{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 8%;
}
.order{
    padding-right: 6%;
}