<div *ngIf="loading">
  <img class="loading" src="../../../assets/ZestyKeenCrocodile-small.gif" alt="">
</div>

<div class="header" *ngIf="!loading">
  <div class="character">
    <img src="../../../assets/characters.png" class="icon" alt="">
    <h1>
      Characters
    </h1>
  </div>
    <mat-form-field class="order" [formGroup]="form">
      <mat-select formControlName="selectOrder">
        <mat-option *ngFor="let order of orders" [value]="order.value">
          {{order.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
</div>
<div class="content">
  <mat-card class="card" *ngFor="let character of characters | paginate: { itemsPerPage: itemPerPage, currentPage: indexPage, totalItems: total } ">
    <div class="top-card">
      <div class="top-midle">
        <img [src]="getImage(character.thumbnail)" class="logo" alt="">
      </div>
      <div class="top-midle">
        <mat-card-title>
          {{character.name}}
        </mat-card-title>
        <mat-card-content *ngIf="character.description">
          {{character.description}}
        </mat-card-content>
        <mat-card-content *ngIf="!character.description">
          No existe una descripcion.
        </mat-card-content>
        <a [routerLink]="['characters', character.id]"><button mat-raised-button class="button">VIEW MORE</button></a>
      </div>
    </div>
    <div class="down-card" *ngIf="character.comics.items">
      <h1 style="width: 100%; margin-left: 2%; color: #949292; ">Related commics</h1>
      <div style=" display: flex; flex-wrap: wrap; justify-content: space-between; margin-left: 2%;">
        <div style="width: 45%;" *ngFor="let items of character.comics.items; let i = index">
          <div *ngIf="i <= 3">
            <a class="comics" (click)="openDialog(items.resourceURI)">
              <img src="../../../assets/link-arrow.png" alt=""> {{items.name}}</a>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
<pagination-controls (pageChange)="pageChanged($event)" *ngIf="!loading"></pagination-controls>