<div class="content">
  <div class="title">
    <img src="../../../assets/favourites.png" class="icon" alt="">
    <b>
      <p> My favourites</p>
    </b>
  </div>
  <div *ngFor="let comic of comics; let i = index">
    <div class="card">
      <button (click)="deleteFavorites(comic.id, i )">
        <img src="../../../assets/btn-delete.png" class="delete" alt="">
      </button>
      <img style="width: 300px; height: 350px;" [src]="getImage(comic.img)" alt="">
    </div>
      <h2>{{comic.title}}</h2>
  </div>
</div>