
.content{
    margin: 5%;
    display: flex;
    flex-flow: column wrap;
}

.icon{
    width: 50px;
    height: 50px;
}
.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 40px;
}
.card{
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    margin: 5%;
    width: 300px; 
    height: 350px;
}
.delete{
    position: absolute;
    width: 30px;
    height: 30px;
    top: -4%;
    right: -4%;
}