
.toolbar{
    display: flex;
    width: 100%;
    background-color: black;
    color: rgba(247, 243, 243, 0.644);
    flex-flow: row wrap;
    align-items: center
}

.image{
    width: 13%;
    height: 50px;
    margin-left: 5%;
}
.form {
    display: flex;
    flex-direction: row;
    min-width: 150px;
    max-width: 500px;
    width: 35%;
    margin-left: 8%;
}

.full-width {
    width: 400px;
    height: 30px;
    background-color: #f4f4f4;
    color: black;
}
.icon{
    width: 90px;
    height: 80px;
}
.body{
    display: flex;
    flex-flow: row wrap;
}
.card{
    width: 80%; 
    height: 3000px; 
    background-color: #f4f4f4;
}
.favourites{
    width: 20%; 
    height: 3000px; 
    background-color: gainsboro;
}