<mat-toolbar class="toolbar">
  <img class="image" src="../../../assets/marvel.png" alt="">
  <form class="form" [formGroup]="form">
      <input matInput type="text" class="full-width" placeholder="Search a characters..." formControlName="search">
      <mat-icon matSuffix>search</mat-icon>
    </form>
</mat-toolbar>
<div class="body">
  <app-card class="card"></app-card>
  <app-favourites class="favourites"></app-favourites>
</div>