<div *ngIf="loading">
  <img class="loading" src="../../../assets/ZestyKeenCrocodile-small.gif" alt="" >
</div>
<div *ngIf="!loading">
  <button mat-button [mat-dialog-close]="true"> <img src="../../../assets/btn-close.png" alt=""> </button>
  <div class="dialog">
    <img class="img" [src]="getImage(comic?.thumbnail)" alt="">
    <div class="text">
      <h1 mat-dialog-title>{{comic.title}}</h1>
      <mat-dialog-content>{{comic.description}}</mat-dialog-content>
    </div>
  </div>
  <form class="form" [formGroup]="form">
    <button class="button" mat-button [mat-dialog-close]="true" value="true" formControlName="button" (click)="saveComic(comic?.id, comic?.thumbnail, comic?.title)">
      <img src="../../../assets/btn-favourites-primary.png" alt="">
      <b> ADDED TO FAVOURITES</b>
    </button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button class="button" mat-button mat-dialog-close>
      <img src="../../../assets/shopping-cart-primary.png" alt="">
      <b> BUY FOR ${{comic.prices[0].price}} </b>
    </button>
    
  </form>
</div>