.dialog{
    display: flex;
    justify-content: space-around;
}
.img{
    width: 40%;
    height: 430px;
}
.text{
    width: 40%;
    font-size: 18px;
}
.actions{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0%;
}
.button{
    width: 49%;
    height: 50px;
    color: rgba(236, 14, 14, 0.945);
    background-color: gainsboro;
}
button:hover{
    background-color: black;
}
.loading{
    margin-left: 24%;
    width: 55%;
    height: 290px;
}